:root {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  --gradient: linear-gradient(to bottom, #2eff74, #44ebb3, #adff61);
  --gradientRed: linear-gradient(to bottom, #ff352e, #eb8144, #ff6183);
  --color: #adff61;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  width: 100%;
  background: #0c0c0b;
  overflow: hidden;
  display: grid;
  gap: 1rem;
  place-content: center;
  cursor: default;
}
.noteCard {
  display: flex;
  flex-direction: column;
  isolation: isolate;
  position: relative;
  width: 18rem;
  height: 5rem;
  background: #29292c;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
}
.noteCard::before {
  content: '';
  position: absolute;
  inset: 0.0625rem;
  border-radius: 0.9375rem;
  background: #18181b;
  z-index: 2;
}
.noteCard::after {
  content: '';
  position: absolute;
  width: 0.25rem;
  inset: 0.65rem auto 0.65rem 0.5rem;
  border-radius: 0.125rem;
  background: var(--gradient);
  transition: transform 300ms ease;
  z-index: 4;
}
.noteCardRed:hover .notetitleRed {
  transform: translateX(0.15rem);
}
.noteCardRed:hover .notebodyRed {
  transform: translateX(0.25rem);
}
.noteCardRed {
  display: flex;
  flex-direction: column;
  isolation: isolate;
  position: relative;
  width: 18rem;
  height: 5rem;
  background: #29292c;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
}
.noteCardRed::before {
  content: '';
  position: absolute;
  inset: 0.0625rem;
  border-radius: 0.9375rem;
  background: #18181b;
  z-index: 2;
}
.noteCardRed::after {
  content: '';
  position: absolute;
  width: 0.25rem;
  inset: 0.65rem auto 0.65rem 0.5rem;
  border-radius: 0.125rem;
  background: var(--gradientRed);
  transition: transform 300ms ease;
  z-index: 4;
}
.noteCardRed:hover::after {
  transform: translateX(0.15rem);
}
.notetitle {
  color: var(--color);
  padding: 0.65rem 0.25rem 0.4rem 1.25rem;
  font-weight: 600;
  font-size: 1rem;
  transition: transform 300ms ease;
  z-index: 5;
}
.notetitleRed {
  color: var(--color);
  padding: 0.65rem 0.25rem 0.4rem 1.25rem;
  font-weight: 600;
  font-size: 1rem;
  transition: transform 300ms ease;
  z-index: 5;
}
#noticeTitle {
  color: var(--color);
  padding: 0.65rem 0.25rem 0.4rem 0.1rem;
  font-weight: 600;
  font-size: 1rem;
  transition: transform 300ms ease;
  z-index: 5;
}
#noticeTitleRed {
  color: crimson;
  padding: 0.65rem 0.25rem 0.4rem 0.1rem;
  font-weight: 600;
  font-size: 1rem;
  transition: transform 300ms ease;
  z-index: 5;
}
.noteCard:hover .notetitle {
  transform: translateX(0.15rem);
}
.noteCard:hover .notetitleRed {
  transform: translateX(0.15rem);
}
.notebody {
  color: #99999d;
  padding: 0 1.25rem;
  transition: transform 300ms ease;
  z-index: 5;
}
.notebodyRed {
  color: #99999d;
  padding: 0 1.25rem;
  transition: transform 300ms ease;
  z-index: 5;
}
.noteCard:hover .notebody {
  transform: translateX(0.25rem);
}
.noteCard:hover .notebodyRed {
  transform: translateX(0.25rem);
}
.notificationglow,
.notificationborderglow {
  position: absolute;
  width: 20rem;
  height: 20rem;
  transform: translate(-50%, -50%);
  background: radial-gradient(circle closest-side at center, white, transparent);
  opacity: 0;
  transition: opacity 300ms ease;
}
.notificationglow {
  z-index: 3;
}
.notificationborderglow {
  z-index: 1;
}
.noteCard:hover .notificationglow {
  opacity: 0.1;
}
.noteCard:hover .notificationborderglow {
  opacity: 0.1;
}
.notificationglowRed,
.notificationborderglowRed {
  position: absolute;
  width: 20rem;
  height: 20rem;
  transform: translate(-50%, -50%);
  background: radial-gradient(circle closest-side at center, white, transparent);
  opacity: 0;
  transition: opacity 300ms ease;
}
.notificationglowRed {
  z-index: 3;
}
.notificationborderglowRed {
  z-index: 1;
}
.noteCardRed:hover .notificationglowRed {
  opacity: 0.1;
}
.noteCardRed:hover .notificationborderglowRed {
  opacity: 0.1;
}
#closeButton {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 2;
  color: #adff61;
}
#closeButtonRed {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 2;
  color: crimson;
}
