:root {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  --gradient: linear-gradient(to bottom, #2eadff, #3d83ff, #7e61ff);
  --color: #32a6ff;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  width: 100%;
  background: #0c0c0b;
  overflow: hidden;
  display: grid;
  place-content: center;
}

.noti {
  display: flex;
  flex-direction: column;
  isolation: isolate;
  position: relative;
  width: 18rem;
  height: 8rem;
  background: #29292c;
  border-radius: 1rem;
  overflow: hidden;
}
.noti::before {
  content: '';
  position: absolute;
  inset: 0.625rem;
  border-radius: 0.9375rem;
  background: #18181b;
  z-index: 2;
}
.noti::after {
  content: '';
  position: absolute;
  width: 0.25rem;
  inset: 0.65rem auto 0.65rem 0.5rem;
  border-radius: 0.125rem;
  background: var(--gradient);
  transition: transform 300ms ease;
  z-index: 4;
}
